<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <connectionStrings>
    <add name="ConnString" connectionString="Data Source=172.17.20.214;Initial Catalog=ESLLadleDB_Prod;User ID=Perceptron;Password=Per@1234;Pooling=true;Min Pool Size=5;Max Pool Size=100;Connection Timeout=30;" providerName="System.Data.SqlClient"/>
    <add name="ESLDB" connectionString="Data Source=172.17.20.214;Initial Catalog=ESLLadleDB_Prod;User Id=Perceptron;Password=Per@1234;Connection Timeout=15;"/>
    <add name="LIMSDB" connectionString="Data Source=195.1.107.48;Initial Catalog=LIMS_DB;User Id=EUser;Password=EUser@2023;Connection Timeout=1;"/>
    <add name="WBDB" connectionString="Data Source= 192.1.73.194;Initial Catalog=database;User Id=Perceptron;Password=Per@1234"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="JwtSecretKey" value="ESL@SecretKey#2026$XYZ!AbCdEfGhIjKlMnOpQrStUvWxYz"/>
    <add key="JwtExpiryMinutes" value="480"/>
    <add key="AesEncryptionKey" value="ESL$ecure@Key#2026!XyZ"/>
    <add key="domainName" value="ESL01.VEDANTARESOURCE.LOCAL"/>
    <add key="UseADAuthentication" value="false"/>
    <add key="AD_SERVER" value="172.17.20.121"/>
    <add key="AD_PORT" value="389"/>
    <add key="AD_BASE_DN" value="OU=Users,OU=Electro Steels Limited,DC=ESL01,DC=vedantaresource,DC=local"/>
    <add key="AD_DOMAIN_SUFFIX" value="ESL01"/>
    <add key="AD_BIND_DN" value="CN=ESL01 LDAP,OU=Service Account,OU=Generic Users,OU=Electro Steels Limited,DC=ESL01,DC=vedantaresource,DC=local"/>
    <add key="AD_BIND_PASSWORD" value="Secure@es1"/>
    <add key="AD_TIMEOUT_MS" value="8000"/>
    <add key="ActivationKey" value="78536E5557697A637453794168454A354F53434F54773D3D"/>
    <add key="CorsAllowedOrigins" value="*"/>
    <!--ESL SP STARTS-->
    <!--PDA-->
    <add key="PDA_SP_LoginData" value="ESL_PDA_SP_LoginData"/>
    <add key="PDA_SP_Logout" value="ESL_PDA_SP_Logout"/>
    <add key="PDA_SP_SyncData" value="ESL_PDA_SP_SyncData"/>
    <add key="PDA_SP_GetLadleByFurnace" value="ESL_PDA_SP_GetLadleByFurnace_V1"/>
    <add key="PDA_SP_CreateCastAssignment" value="ESL_PDA_SP_CreateCastAssignment_V1"/>
    <add key="PDA_SP_CreateLadleRequest" value="ESL_PDA_SP_CreateLadleRequest"/>
    <add key="PDA_SP_GetLadleRequest" value="ESL_PDA_SP_GetLadleRequest_V1"/>
    <add key="PDA_SP_GetReversalLadles" value="ESL_PDA_SP_GetReversalLadles"/>
    <add key="PDA_SP_UpdateLadleRequest" value="ESL_PDA_SP_UpdateLadleRequest"/>
    <add key="PDA_SP_CreateRevarsalMovement" value="ESL_PDA_SP_CreateRevarsalMovement_V1"/>
    <add key="PDA_SP_GetLadleMovement" value="ESL_PDA_SP_GetLadleMovement_V1"/>
    <add key="PDA_SP_CloseLadleMovement" value="ESL_PDA_SP_CloseLadleMovement_V2"/>
    <add key="PDA_SP_TransferLadleMovement" value="ESL_PDA_SP_TransferLadleMovement"/>
    <add key="PDA_SP_GetAvailableLadles" value="ESL_PDA_SP_GetAvailableLadles"/>
    <add key="PDA_SP_RequestAvailableLadles" value="ESL_PDA_SP_RequestAvailableLadles"/>
    <add key="PDA_SP_GetSummary" value="ESL_PDA_SP_GetSummary_V2"/>
    <add key="PDA_SP_UpdateBookingLadles" value="ESL_PDA_SP_UpdateBookingLadles"/>
    <add key="PDA_SP_GetEmptyLadlesForBF" value="ESL_PDA_SP_GetEmptyLadlesForBF"/>
    <add key="PDA_SP_RequestReversalLadles" value="ESL_PDA_SP_RequestReversalLadles_V1"/>
    <add key="PDA_SP_UpdateReversalBookingLadles" value="ESL_PDA_SP_UpdateReversalBookingLadles"/>
    <add key="PDA_SP_GetTransactionLadles" value="ESL_PDA_SP_GetTransactionLadles"/>
    <add key="PDA_SP_GetRequestReport" value="ESL_PDA_SP_GetRequestReport"/>
    <add key="PDA_SP_GetFullReport" value="ESL_PDA_SP_GetFullReport"/>
    <!--PDA-->
    <!--Dashboard-->
    <add key="WEB_SP_DashboardLogin" value="ESL_WEB_SP_DashboardLogin"/>
    <add key="WEB_SP_Logout" value="ESL_WEB_SP_Logout"/>
    <add key="SP_GetAllBFLadle" value="ESL_WEB_SP_GetAllBFLadle"/>
    <add key="SP_GetLadleRequest" value="ESL_WEB_SP_GetLadleRequest_V1"/>
    <add key="SP_GetLadleMovement" value="ESL_WEB_SP_GetLadleMovement_V2"/>
    <add key="WEB_SP_CreateMovement" value="ESL_WEB_SP_CreateMovement_V1"/>
    <add key="WEB_SP_CreateMovementTrips" value="ESL_WEB_SP_CreateMovementTrips"/>
    <add key="GetTripSerialNumber" value="GetTripSerialNumber"/>
    <add key="WEB_SP_GetAllLocoOccupied" value="ESL_WEB_SP_GetAllLocoOccupied"/>
    <add key="WEB_SP_GetDashboardData" value="ESL_WEB_SP_GetDashboardData"/>
    <add key="WEB_SP_GetReversalLadles" value="ESL_WEB_SP_GetReversalLadles"/>
    <add key="WEB_SP_InsertLadleReversal" value="ESL_WEB_SP_InsertLadleReversal_V4"/>
    <add key="WEB_SP_AssignedLocoToLadle" value="ESL_WEB_SP_AssignedLocoToLadle"/>
    <add key="WEB_SP_GetLadleMovementTrailLocation" value="ESL_WEB_SP_GetLadleMovementTrailLocation"/>
    <add key="WEB_SP_CompleteLadleRequest" value="ESL_WEB_SP_CompleteLadleRequest"/>
    <add key="WEB_SP_DeleteLadleFromMovement" value="ESL_WEB_SP_DeleteLadleFromMovement_V4"/>
    <add key="WEB_SP_CompleteReversalLadleRequest" value="ESL_WEB_SP_CompleteReversalLadleRequest_V1"/>
    <add key="ESL_WEB_GetUserPassword" value="ESL_WEB_GetUserPassword"/>
    <add key="WEB_SP_GetTransactionReport" value="ESL_WEB_SP_GetTransactionReport"/>
    <add key="WEB_SP_TransferLoco" value="ESL_WEB_SP_TransferLoco"/>
    <add key="WEB_SP_GetLadleWeighmentReport" value="ESL_WEB_SP_GetLadleWeighmentReport"/>
    <add key="WEB_SP_GetManualVsAutoAssignmentReport" value="ESL_WEB_SP_GetManualVsAutoAssignmentReport"/>
    <add key="WEB_SP_GetReaderTransactionLadles" value="ESL_WEB_SP_GetReaderTransactionLadles"/>
    <add key="WEB_SP_GetEmptyLadlesForBooking" value="ESL_WEB_SP_GetEmptyLadlesForBooking"/>
    <add key="WEB_SP_RequestEmptyLadles" value="ESL_WEB_SP_RequestEmptyLadles"/>
    <!--Dashboard-->
    <!--Hot Metal-->
    <add key="SP_GetHotmetalBooking" value="SP_GetHotmetalBooking"/>
    <add key="SP_InsertProductionOrder" value="SP_InsertProductionOrder"/>
    <add key="SP_GetProductionReport" value="SP_GetProductionReport"/>
    <add key="SP_GetPrefixByLocation" value="SP_GetPrefixByLocation"/>
    <!--Loco Ladle Mapping-->
    <add key="WEB_SP_GetLatestLocoLadleMapping" value="ESL_WEB_SP_GetLatestLocoLadleMapping"/>
    <!--System Status-->
    <add key="WEB_SP_GetSystemStatus" value="ESL_WEB_SP_GetSystemStatus"/>
    <!--CORS Allowed Origins for VAPT compliance-->
    <add key="CorsAllowedOrigins" value="http://localhost:4200,http://172.17.20.214,http://172.17.20.10:100,http://172.17.20.10,*"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.8" debug="true"/>
    <httpRuntime targetFramework="4.8" enableVersionHeader="false" maxRequestLength="10240"/>
    <httpCookies httpOnlyCookies="true" requireSSL="false" sameSite="Lax"/>
    <customErrors mode="RemoteOnly" defaultRedirect="~/Error.html"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.1" newVersion="9.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.1" newVersion="8.0.0.1"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <directoryBrowse enabled="false"/>
    <httpProtocol>
      <customHeaders>
        <remove name="Server"/>
        <remove name="X-Powered-By"/>
        <remove name="X-AspNet-Version"/>
        <remove name="X-AspNetMvc-Version"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <add name="X-Frame-Options" value="DENY"/>
        <add name="X-XSS-Protection" value="1; mode=block"/>
        <add name="Cache-Control" value="no-store, no-cache, must-revalidate"/>
        <add name="Pragma" value="no-cache"/>
        <add name="Referrer-Policy" value="strict-origin-when-cross-origin"/>
        <add name="Permissions-Policy" value="camera=(), microphone=(), geolocation=(), payment=()"/>
        <add name="X-Permitted-Cross-Domain-Policies" value="none"/>
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>
        <add name="Content-Security-Policy" value="default-src 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval'; style-src 'self' 'unsafe-inline' https://cdn.jsdelivr.net https://fonts.googleapis.com; font-src 'self' https://cdn.jsdelivr.net https://fonts.gstatic.com; img-src 'self' data: blob:; connect-src 'self' http://172.17.20.10 http://172.17.20.10:* http://172.17.20.214 http://172.17.20.214:* http://localhost:* ws: wss:; frame-ancestors 'none'; base-uri 'self'; form-action 'self';"/>
      </customHeaders>
    </httpProtocol>
    <!--Block access to sensitive files and dangerous verbs-->
    <security>
      <requestFiltering removeServerHeader="true">
        <requestLimits maxAllowedContentLength="10485760" maxUrl="2048" maxQueryString="1024"/>
        <verbs allowUnlisted="true">
          <add verb="TRACE" allowed="false"/>
          <add verb="TRACK" allowed="false"/>
          <add verb="DEBUG" allowed="false"/>
        </verbs>
        <hiddenSegments>
          <clear/>
          <add segment="App_Data"/>
          <add segment="App_Start"/>
          <add segment="DataAccessLayer"/>
          <add segment="IDataAccessLayer"/>
          <add segment="Models"/>
          <add segment="Global"/>
        </hiddenSegments>
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
  </system.webServer>
</configuration>
<!--ProjectGuid: 9031A631-6904-41F6-B5D1-1FA21063265F-->