.errormsg {
  font-size: 14px;
  color: #ef4444;
  text-align: center;
  margin: 0;
}

.container-wait {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.msg {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #64748b;
  margin-top: 12px;
}
